@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: black;
  color:white
  
} */

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: rgb(6, 6, 6);
  color: white;
}

/* This applies to the entire document */
::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #9195F6; /* color of the scroll thumb */
  /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #B7C9F2; /* color of the scroll thumb when hovering */
}

