@tailwind base;
@tailwind components;
@tailwind utilities;

 /* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; */
/* } */
body{
  background: black;
  color:white
  
} 

 *::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0; 
} */


body {
  background: rgb(6, 6, 6);
  color: white;
} 

 ::-webkit-scrollbar {
  width: 10px; 
} 

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #9195F6;
  
}

::-webkit-scrollbar-thumb:hover {
  background: #B7C9F2; 
}

